.h1{
    font-size: 40px;  /* Heading 1 */
  }
  
.h2 {
    font-size: 32px;  /* Heading 2 */
  }
  
.h3 {
    font-size: 24px;  /* Heading 3 */
  }
  
.h4 {
    font-size: 21px;  /* Heading 4 */
  }
  
.h5 {
    font-size: 19px;  /* Heading 5 */
  }
  
.h6 {
    font-size: 16px;  /* Heading 6 */
  }